*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Стили проектной работы */

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-inline-size: 1140px;
  inline-size: 100%;
  margin: auto;
}

/* Стили блока RESULT */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* для выравнивания по высоте кнопок --------------- */
  margin-block-end: 2px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-block-end: 5px; /* отступ снизу заголовка у форм поиска */
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; 
  padding: 2px 0;
  /* border-style: none; */
  /* background-color: transparent; /*background или background-color???*/
  /* color: rgb(255 255 255/0.7); */
}

.search-form__textfield::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgb(255 255 255/.7);
}

.search-form__checkbox-list {
  /*расположить чекбоксы в линию - подумать*/
  display: flex; 
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  text-align: center;
  /*background или background-color???*/
  background-color: transparent; 
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  margin-block-start: 20px;
}

/* Стили блока CONTENT */

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  inline-size: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 2px 2px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  /*тут или у video-card?*/
  cursor: pointer; 
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  inline-size: 100%;
}

.content__video-card-description-container {
  /* inline-size: 100%; */
  inline-size: 200px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-block-end: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

/* Паттерн visually-hidden */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 